src/main/mule/orchestration/send-to-salesforce/assets.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce-sapi="http://www.mulesoft.org/schema/mule/salesforce-sapi"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:dealernet-sapi="http://www.mulesoft.org/schema/mule/dealernet-sapi"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dealernet-sapi http://www.mulesoft.org/schema/mule/dealernet-sapi/current/mule-dealernet-sapi.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce-sapi http://www.mulesoft.org/schema/mule/salesforce-sapi/current/mule-salesforce-sapi.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="send-assets-list-to-salesfore-flow" doc:id="feda5b02-f467-4947-9758-d5e6f657d8cc">
		<scheduler doc:name="Scheduler 1 hora" doc:id="97d05da4-6a3e-4ba8-acd9-3801f8246eef" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" startDelay="100" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger Start Get Assets List" doc:id="40db9d20-120e-4dbc-bebb-ddd08ad37dd4" />
		<dealernet-sapi:get-vehicles-list doc:name="Get Vehicles List" doc:id="835fa4cd-9ac4-476d-9f1c-f36e1bde0425" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}" config-ref="Dealernet_sapi_Config"/>
		<ee:transform doc:name="Offset Limit" doc:id="17dbd303-fc7b-4992-b499-1f6ec71298d7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountFilter" ><![CDATA[%dw 2.0
output application/json
---
(payload) distinctBy $.codigoCliente]]></ee:set-variable>
				<ee:set-variable variableName="assetArray" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="accountArray" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="create-account-in-salesforce" doc:id="8a940acd-2296-4650-93d0-0d1a4102f583" name="create-accounts-in-salesforce" />
		<flow-ref doc:name="create-asset-in-salesforce" doc:id="84f5a941-3381-4bc7-9203-d167c7b5a374" name="create-assets-in-salesforce" />
		<logger level="INFO" doc:name="Logger After Get Assets List" doc:id="4c4c0134-42be-4125-a132-a8c50908893f" message="Integration: send-assets-list-to-salesforce | Size: #[sizeOf(payload)] |  Returned Payload Model: #[payload[0]]" />
		<flow-ref doc:name="send-asset-stock-to-salesforce" doc:id="4df6be38-9583-4529-93b7-f0e31b0b2c86" name="send-assets-stock-to-salesforce-main"/>
		<error-handler ref="globalError_Router" />
	</flow>
	<sub-flow name="create-accounts-in-salesforce" doc:id="0c4ac43f-8b6f-4d29-9290-a6d51d311a8c" >
		<ee:transform doc:name="Account Ids" doc:id="abac80e1-1636-4270-9642-a54b7d490ffb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/json
---
payload.codigoCliente]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each Account" doc:id="7e011cc6-1f52-40c9-9dde-16efdeec894b" collection="#[vars.accountFilter]" batchSize="200">
			<ee:transform doc:name="Map Account Payload" doc:id="5b760197-9353-402d-a398-011e469ed713" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
var accountPayload = payload map (value, index) -> {
  "attributes": {
      "type": "Account"
  },
  "IsActive__c": value.ativo default true,
  "InternCPF__c": value.cpfCnpj,
  "ActivityCode__c": value.codigoAtividade,
  "InternEmail__c": value.email,
  "ExternalId__c": value.codigoCliente,
  "DealerNetExternalId__c": value.codigoCliente,
  "Name": value.nome,
  "CommercialName__c": value.nomeFantasia,
  "InternPhone__c": (value.telefone splitBy  "  ")[0] replace  " " with "",
  "PersonalType__c": if(value.tipoPessoa == "F") "Pessoa Fisica" else "Pessoa Jurídica",
  "BillingCountryCode": "BR",
  "TestDrive__c": null
}
output application/json
---
{
	allOrNone: false,
	records: accountPayload
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger Before Salesforce System Request " doc:id="d9998ef6-6f92-49e3-9831-3626f85bd334" message="Integration: send-assets-list-to-salesforce | Size: #[sizeOf(payload)] |  Returned Payload Model: #[payload[0]]" />
			<flow-ref doc:name="send-account-to-salesforce" doc:id="80bcc802-4651-4f1b-856f-c20161a9e3e7" name="send-account-to-salesforce" />
			<logger level="INFO" doc:name="Logger After Account" doc:id="7dd32beb-69be-423f-b437-d331552fa9cc" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    accountId: vars.accountId[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    accountId: vars.accountId[(index)],&#10;    description: value.errors[0].message&#10;}]" />
		</foreach>
	</sub-flow>
	<sub-flow name="create-assets-in-salesforce" doc:id="36dda9ba-19f9-45af-b38a-79d0a688fda0" >
		<ee:transform doc:name="Asset Ids" doc:id="b887b887-3ffa-4819-ba3a-7da66aa37a23" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="assetId" ><![CDATA[%dw 2.0
output application/json
---
payload.codigoVeiculo]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each Asset" doc:id="daef2fd9-8373-4b82-a504-0fd0c040c7ee" batchSize="200">
			<ee:transform doc:name="Map Asset Payload" doc:id="27e04e66-305f-4b64-bafd-a7db85a04adf" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
import * from Modules::productsFunctions
var assetPayload = payload map (value, index) -> {
	"attributes": {
		"type": "Asset"
	},
	"Account": {
        "DealerNetExternalId__c": value.codigoCliente
    },
    "IsActive__c": value.ativo default true,
	"ExternalId__c": value.codigoVeiculo,
	"Name": value.nomeVeiculo,
	"Chassis__c": value.chassi,
	"FullChassisNumber__c": value.chassi,
	"Type__c": "Vehicle",
	("Status": mapStock(payload.codigoEstoque) ) if(isBlank(payload.codigoEstoque)), //tratar pra enviar o status real
	"Plate__c": value.placa,
	"Model__c": value.nomeVeiculo,
	"ModelCode__c": value.codigoModeloVeiculo,
	"ModelBrand__c": value.marca,
	"LastKmImformed__c": value.km,
	"YearModel__c": value.anoModelo,
	"YearOfManufacture__c": value.anoFabricacao,
	"ColorName__c": value.corExterna,
	"Renavam__c": value.renavam,
	"NumberOfDoors__c": value.numeroPortas,
	"Combustivel__c": if (value.combustivel contains  ("HIBRIDO")) "Híbrido" 
	else if (value.combustivel contains ("NENH")) null
	else value.combustivel,
	"ProductFamilyDescription__c": value.familiaFamilia
}
output application/json
---
{
	allOrNone: false,
	records: assetPayload
}
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger Before Salesforce System Request " doc:id="364bd0cc-d10c-45bd-acbb-d5f64d5f856a" message="Integration: send-assets-list-to-salesforce | Size: #[sizeOf(payload)] |  Returned Payload Model: #[payload[0]]" />
			<flow-ref doc:name="send-assets-to-salesforce" doc:id="b2b84ed9-0145-4b7e-a44a-cce961d03760" name="send-assets-to-salesforce" />
			<logger level="INFO" doc:name="Logger After Asset" doc:id="c5219a20-a171-45b3-8adc-6a90eb04cefa" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    assetId: vars.assetId[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    assetId: vars.assetId[(index)],&#10;    description: value.errors[0].message&#10;}]" />
		</foreach>
	</sub-flow>
	<flow name="send-assets-stock-to-salesforce-main" doc:id="bde8ad02-4276-4496-ac56-2519ca82a2ca">
		<scheduler doc:name="Scheduler 1 hora" doc:id="5ab52d0a-41f9-490a-8328-414aa0560279" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="MINUTES" startDelay="10"/>
			</scheduling-strategy>
		</scheduler>
		<dealernet-sapi:get-assets-stock doc:name="Get Assets Stock" doc:id="de0890ff-31ee-45e1-bc27-9720602bb039" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}" config-ref="Dealernet_sapi_Config" time-amount="15"/>
		<ee:transform doc:name="Filter Payload" doc:id="f393cef9-a3a9-492a-b332-06f88847a54a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload distinctBy $."Cod do Veiculo"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger After Get Assets Stock" doc:id="ea0223ed-7317-43ca-ade2-0fc0d80cd453" message="Integration: send-assets-stock-to-salesforce | Size: #[sizeOf(payload)] | Returned Payload Model: #[payload[0]] " />
		<batch:job jobName="send_assets_stock_BatchJob" doc:id="8548ad63-bc1b-451a-9fa0-46d3a74c5244" blockSize="1000" maxFailedRecords="-1" maxConcurrency="1">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="7a746b7c-a8da-45b8-9b4b-db0128488212">
					<ee:transform doc:name="Map Asset Payload From DealerNet" doc:id="61e5e7fe-5ed0-4fca-841d-3df4dc62201c">
			<ee:message>
				<ee:set-payload resource="dwl/map-asset-stock.dwl" />
			</ee:message>
		</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="924c97d0-6f09-4d66-9d0f-7a16814420ce" size="200" preserveMimeTypes="true">
						<ee:transform doc:name="Aggregate payload" doc:id="bcbc52d6-6a7f-4627-a261-69d597e6d123">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: payload
}]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="stockId"><![CDATA[%dw 2.0
output application/json
---
payload.ExternalId__c]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<logger level="INFO" doc:name="Logger Before Salesforce System Request " doc:id="0832bc67-9216-49e8-afba-84f7826572ee" message="payloadModel #[payload.records[0]]" />
						<flow-ref doc:name="send-asset-stock-to-salesforce" doc:id="c0ba98b5-c799-4eab-8a1d-36947a1b3fe1" name="send-asset-stock-to-salesforce" />
						<logger level="INFO" doc:name="Logger" doc:id="d752d450-314f-47c3-a45f-c50a939ab3b7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    idAsset: vars.stockId[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    idAsset: vars.stockId[(index)],&#10;    description: value.errors[0].message&#10;}]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Results" doc:id="52ac3f92-4804-42a5-a1d9-e315b420340c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</batch:on-complete>
		</batch:job>
		<error-handler ref="globalError_Router" />
	</flow>
	<flow name="send-vehicle-year-model-to-salesforce" doc:id="de8b684c-8ec7-4791-a3f7-62fde6f1cf5c" >
		<scheduler doc:name="Scheduler Diario 8 AM" doc:id="32a7fbd5-fd5c-4387-b286-931f9d366fb0" >
			<scheduling-strategy >
				<cron expression="0 0 8 * * ?" timeZone="America/Sao_Paulo"/>
			</scheduling-strategy>
		</scheduler>
		<dealernet-sapi:get-vehicles-modelmanufactory-year doc:name="Get Vehicles Model/Manufactory Year" doc:id="5c1f32a6-f63a-4754-a338-2e07ac5a5870" config-ref="Dealernet_sapi_Config" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}"/>
		<ee:transform doc:name="Variables to Get Record Type Id - Collor" doc:id="7d47b6db-a365-41ac-8bcc-76a51c5f1a55">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"VehicleParameter__c"]]></ee:set-variable>
				<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Ano"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-recordType - Year" doc:id="4e16ec8f-251f-45fa-b3b5-b4aa75cb4f52" name="get-recordType" target="recordTypeYear"/>
		<logger level="INFO" doc:name="Logger After Get Vehicle Model/Manufactory Year" doc:id="c90fbe70-8858-452c-9801-7d9edfaf1252" message="Integration: send-vehicle-model-and-manufactury-year-to-salesforce | Size: #[sizeOf(payload)] | Returned Payload Model: #[payload[0]] "/>
		<ee:transform doc:name="Map Asset Payload From DealerNet" doc:id="b61e2479-aa20-4861-9357-3a336065e4a6" >
			<ee:message >
				<ee:set-payload resource="dwl/map-vehicles-yearModel.dwl" />
			</ee:message>
		</ee:transform>
		<salesforce-sapi:send-vehicles-modelmanufactory-year doc:name="Send Vehicles Model/Manufactory Year" doc:id="cfb7b27e-13e3-4356-86b3-19c82ff4afc6" config-ref="Salesforce_sapi_Config" client-id="${secure::salesforce-sapi.client_id}" client-secret="${secure::salesforce-sapi.client_secret}"/>
		<logger level="INFO" doc:name="Logger" doc:id="0857e948-362c-4c24-89f4-003cbb43e19a" message="#[payload]"/>
		<error-handler ref="globalError_Router" />
	</flow>
	<flow name="send-vehicle-collor-to-salesforce" doc:id="be2760c9-399d-4121-a3a2-234ec0e83ee2" >
		<scheduler doc:name="Scheduler Diario 8 AM" doc:id="7141f249-c4c4-4e0f-8222-e519dc8db968" >
			<scheduling-strategy >
				<cron expression="0 0 8 * * ?" timeZone="America/Sao_Paulo"/>
			</scheduling-strategy>
		</scheduler>
		<dealernet-sapi:get-vehicle-collor-list doc:name="Get Vehicle Collor List" doc:id="9d83096b-92f2-4996-8c7f-cfae8efc0ac2" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}" config-ref="Dealernet_sapi_Config"/>
		<ee:transform doc:name="Variables to Get Record Type Id - Collor" doc:id="83c56f9b-48b5-4478-820c-df9bf6e6bf38" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="object" ><![CDATA[%dw 2.0
output application/json
---
"VehicleParameter__c"]]></ee:set-variable>
				<ee:set-variable variableName="name" ><![CDATA[%dw 2.0
output application/json
---
"Cor"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-recordType - Collor" doc:id="60666ef7-4cdb-48b7-a8d5-001f8e1f5784" name="get-recordType" target="recordTypeCor"/>
		<logger level="INFO" doc:name="Logger After Get Vehicle Model/Manufactory Year" doc:id="e82934fd-5533-4278-a8ce-5caa1b882a41" message="Integration: send-vehicle-collor-to-salesforce | Size: #[sizeOf(payload)] | Returned Payload Model: #[payload[0]] " />
		<batch:job jobName="send_vehicle_collor_batchJob" doc:id="43e2456a-aece-4b18-94ed-5da7ef88a088" blockSize="1000" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="741033eb-a6bf-4c7e-8057-642e11d5b605" >
					<ee:transform doc:name="Map Asset Payload From DealerNet" doc:id="ddb9f43f-e8d6-44d5-bde7-72564f545c77" >
						<ee:message >
							<ee:set-payload resource="dwl/map-vehicles-collor.dwl" />
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="c279da1e-a975-4ccb-b72e-1870c335f6b8" size="200" preserveMimeTypes="true">
						<ee:transform doc:name="Aggregate payload" doc:id="9907b7bf-e88c-458a-9a54-f059de820100" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: payload
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce-sapi:send-vehicle-collor-list doc:name="Send Vehicle Collor List" doc:id="7d19e70e-a8f6-4274-8ed7-4fb32fd19708" config-ref="Salesforce_sapi_Config" client-id="${secure::salesforce-sapi.client_id}" client-secret="${secure::salesforce-sapi.client_secret}"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="467e1cc9-8acc-4dce-8503-9fe5d068bde1" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<error-handler ref="globalError_Router" />
	</flow>
	<flow name="send-vehicle-models-parameters-from-dealernet-to-salesforceFlow" doc:id="3edfd420-91b7-4ff0-b9d0-ce8f9646bf0a" >
		<scheduler doc:name="Scheduler Diario 8 AM" doc:id="8e328193-0dba-4ff3-ab49-330db3635fa0" >
			<scheduling-strategy >
				<cron expression="0 0 7 * * ?" timeZone="America/Sao_Paulo"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger Start Vehicles Models Parameters Flow" doc:id="0659f413-8d33-4635-87ee-b2b4302de9cb" message="Integration: send-vehicle-model-parameters-to-salesforce | CorrelationId: #[correlationId]"/>
		<flow-ref doc:name="get-vehicles-models-in-dealernet" doc:id="6de0a79a-d25b-4fcd-b7d2-ecd6d1b6174a" name="get-vehicles-models-in-dealernet"/>
		<ee:transform doc:name="Variables to Get Record Type Id - Collor" doc:id="57db392c-3b5f-4c2a-8877-7c08cb4bbc3f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"VehicleParameter__c"]]></ee:set-variable>
				<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Modelo"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-recordType - Models" doc:id="f7cf0d42-b640-44bc-abc6-514a134441f5" name="get-recordType" target="recordTypeModel"/>
		<logger level="INFO" doc:name="Logger After Get Vehicle Mode" doc:id="f44f7eba-66f0-4bda-b27f-499d7c205065" message="Integration: send-vehicle-model-parameters-to-salesforce | Size: #[sizeOf(payload)] | Returned Payload Model: #[payload[0]] " />
		<batch:job jobName="send_vehicle_models_parameters_batchJob" doc:id="56e0769f-91b8-4df0-9c49-955f0bf00599" maxFailedRecords="-1" blockSize="1000">
			<batch:process-records >
				<batch:step name="Batch_Step3" doc:id="eac3fccc-e506-4134-8edc-637c67f2e580" >
					<ee:transform doc:name="Map Asset Payload From DealerNet" doc:id="4523d992-3021-4f64-ac38-afa3c9e4acc5" >
						<ee:message >
							<ee:set-payload resource="dwl/map-vehicles-models.dwl" />
						</ee:message>
						<ee:variables >
						</ee:variables>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="818bcfd5-6b69-420f-81ed-1fa76b67e501" size="200" preserveMimeTypes="true">
						<ee:transform doc:name="Aggregate payload" doc:id="985b74c6-30c8-4e52-9e80-13991aac018d" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: payload
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="send-vehicles-models-to-salesforce" doc:id="d01aba4d-b791-4ad1-b599-85644fffb570" name="send-vehicles-models-to-salesforce"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<logger level="INFO" doc:name="Logger" doc:id="189d29ae-6500-47b9-a0da-2f4ffde4f06a" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
		<error-handler ref="globalError_Router" />
	</flow>
	<flow name="send-vehicle-models-catalog-from-dealernet-to-salesforceFlow" doc:id="04c2e64d-fc6e-48a2-94d8-77192144219a" >
		<scheduler doc:name="Scheduler Diario 8 AM" doc:id="af4c69f2-da00-42c6-ab64-e6da9415a280" >
			<scheduling-strategy >
				<cron expression="0 0 8 * * ?" timeZone="America/Sao_Paulo" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger Start Vehicles Models Parameters Flow" doc:id="e361287c-d140-490b-a8ab-54335e6ed066" message="Integration: send-vehicle-model-catalog-to-salesforce | CorrelationId: #[correlationId]" />
		<flow-ref doc:name="get-vehicles-models-in-dealernet" doc:id="da3322f4-ea2b-4029-bc36-df202c9b0ecb" name="get-vehicles-models-in-dealernet"/>
		<ee:transform doc:name="Variables to Get Record Type Id - Collor" doc:id="adf7d404-7f44-421b-9da0-2c8ae91122a2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="object" ><![CDATA[%dw 2.0
output application/json
---
"Product2"]]></ee:set-variable>
				<ee:set-variable variableName="name" ><![CDATA[%dw 2.0
output application/json
---
"Veículo"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-recordType - Models" doc:id="abc4055a-dcf0-4919-a08e-ff6a1f50993b" name="get-recordType" target="recordTypeModelCatalog" />
		<logger level="INFO" doc:name="Logger After Get Vehicle Model - Catalog" doc:id="a87ce966-0c51-4774-9925-3d14870b1eaa" message="Integration: send-vehicle-model-catalog-parameters-to-salesforce | Size: #[sizeOf(payload)] | Returned Payload Model: #[payload[0]] " />
		<batch:job jobName="send_vehicle_models_catalog_batchJob" doc:id="59204c49-8d73-4406-87ed-71685a7063c8" maxFailedRecords="-1" blockSize="1000" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="74160803-6a30-49e4-bb48-1b54ac5cc393" >
					<ee:transform doc:name="Map Asset Payload From DealerNet" doc:id="1e098742-844b-479f-89d6-61de7010f0ab" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"attributes": {
		"type": "Product2"
	},
	"VehicleParam__r": {
        "ExternalId__c": payload.ModeloVeiculo_Codigo
    },
    "ExternalId__c": payload.ModeloVeiculo_Codigo,
	"Name": payload.ModeloVeiculo_Descricao,
    "VehicleModelCode__c": payload.ModeloVeiculo_Codigo,
    "RecordTypeId": vars.recordTypeModelCatalog,
	"Price__c": payload.precoModelo,
    "IsActive": true
	}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
						</ee:variables>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f9532f71-46cb-4a95-b60e-d15e58be09fb" size="200" preserveMimeTypes="true" >
						<ee:transform doc:name="Aggregate payload" doc:id="32192416-1e0e-47bf-8e28-f499cfca178f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: payload
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="modelCode" ><![CDATA[%dw 2.0
output application/json
---
payload.ExternalId__c]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="send-products-to-salesforce" doc:id="8f52812e-5804-4e59-a4b3-45682b640163" name="send-products-to-salesforce" />
						<logger level="INFO" doc:name="Logger Results Model" doc:id="d2407adb-51ef-4c08-a5e7-a0aebc6689c4" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    modelCode: vars.modelCode[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    modelCode: vars.modelCode[(index)],&#10;    description: value.errors[0].message&#10;}]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c9d7ac9c-ef86-4518-bbde-9a13d63cb867" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
